@media only screen and (max-width:600px) {
    .center{
        background-size: cover;
    }
    .textbox{
        height: 580px;
        width: 340px;
        margin-right: 10px;
    }
    .textbox1{
        height: 500px;
        width: 339px;
    }
    .textbox2{
        width: 339px;
    }
    .textbox2 input{
        width: 263px;
        font-size: 15px;
        padding-left: 8px;
    }
}